@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    background-image: url("/pgs2/pgs\ 3.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 2050px;
}
.container{
    position: relative;
    max-width: 850px;
    width: 100%;
    background: white;
    padding: 25px;
    border-radius: 250px;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 1000px;
    /* border 1px solid black; */
    
    margin: auto;
    margin-top: 50px;
    background-color: #ddd;
    box-shadow: inset -5px -5px rgb(0, 0, 0, 0.5);
    border-radius: 25px;
    
}
.container header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}
.container .form {
    margin-top: 40px;
}
.form .input-box {
    width: 100%;
    margin-top: 20px;
}
.input-box label{
    color: #333;
}
.form .input-box input {
    position: relative;
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding:  0 15px;
}
.form button{
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    transition: all 0.2s ease;
    background:  linear-gradient(to right,   #00b09b, #96c93d);
}
.form button:hover{
    background: rgb(88, 56, 250);
}
